body {
    background-color: #99ebff;
    background-repeat: repeat-y;
    background-image: url("notebook-paper-background-18.jpeg");
    background-size: 1500px 800px;
    text-decoration: none;
}
h1 {
    color: #262626;
    font-family:'Courier New', 'Arial', 'Sans-Serif';
    text-align: center;
}
p {
  font-family:'Courier New', 'Arial', 'Sans-Serif';
  color: red;
  margin: 130px;
}

ul{
  font-family:'Courier New', 'Arial', 'Sans-Serif';
  color: Dodgerblue;
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

li{
  display:inline;
  color: #5DD1F8;
  text-align: center;
  text-decoration: none;
}
a {
 text-decoration: none;   
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration-line: underline;
  text-decoration-color: Dodgerblue;
  text-decoration-style: wavy;

}
a:active {
  text-decoration: underline;
}
